<p id="notice"><%= notice %></p>
<section class="row product_show">
	<div class="col-sm-6 img">
		<%= image_tag(@product.image_url, class: "img-fluid") %>
  </div>

  <section class="col-sm-6">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @product.size %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>
		<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </section> <!-- /col-sm-6 -->

	<div class="comments">
	  <%= @product.highest_rating_comment %>
	  <%= @product.lowest_rating_comment %>
		<%= render 'new_comment' %>
	</div>
	<div class ="col-lg-12 comment_block">
		<%= render 'comments' %>
		<%= will_paginate @comments %>
	</div>
</section> <!-- /row product_show -->
