<p id="notice"><%= notice %></p>
<div class=”container”>
	<div class="row product_show" data-product-id="<%= @product.id %>">
		<div class="col-md-6 img">
			<%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image:@product.image_url) %>
	  </div>

	  <div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
			     <h4><%= @product.name %></h4>
				</div>
			</div>

			<div class="row">
 				<div class="col-md-12">
			    <p>
			      <%= @product.description %>
			    </p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
			    <p>
			      <strong>Colour:</strong>
			      <%= @product.colour %>
			    </p>
				</div>

				<div class="col-md-6">
			    <p>
			      <strong>Size:</strong>
			      <%= @product.size %>
			    </p>
				</div>
			</div>

			<div class="row">
 				<div class="col-md-12">
		      <h4 class="product-price"><%= @product.price %></h4>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>
				</div>
			</div>
			<div class="row payment">
				<div class="col-md-12">
					<%= form_with(url: '/payments/create') do |form| %>
					<%= form.hidden_field :product_id, :value => @product.id %>
					<%= render partial: "shared/stripe_checkout_button" %>
					<% end %>
				</div>
			</div>
				<div class="row">
					<div class="col-md-12">
						<% if signed_in? && current_user.admin? %>
				    <%= link_to 'Edit', edit_product_path(@product) %> |
						<% end %>
				    <%= link_to 'Back', products_path %>
					</div>
				</div>
				<%#= @product.get_recent_views %>
			</div><!-- /row -->
	  </div> <!-- /col-md-6 -->
	<div class="row product_show">
		<div class="col-md-6 comments">
		  <%#= @product.highest_rating_comment %>
		  <%#= @product.lowest_rating_comment %>

			<%= render 'new_comment' %>
			<div class ="comment_block">
				<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
					<%= render 'comments' %>
					<%= will_paginate @comments %>
			</div>
		</div>
	</div> <!-- /row product_show -->
</div><!-- /container -->
